<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgtwsgQRZUMDbjgqxEFM69tB6SmaUE_-U</string>
	<key>GCM_SENDER_ID</key>
	<string>603931170018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studeapps.RemoteFF</string>
	<key>PROJECT_ID</key>
	<string>testremote-93b44</string>
	<key>STORAGE_BUCKET</key>
	<string>testremote-93b44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603931170018:ios:b278112d0f6ba78801babb</string>
</dict>
</plist>